<div class="jumbotron jumbotron-fluid" style = "background-color: #e0e0e0;" >
  <div class="container">
    <h1 class="display-4">Create a Profile</h1>
  </div>
</div>

<%= render 'form', profile: @profile %>
<br>
<%= link_to 'Back', profiles_path, method: :get, class: "btn btn-primary btn-sm", style: "background-color: #00838f;" %>
