<!-- Footer -->
<footer 
        class="page-footer font-small" 
        style= "background-color: #2E2E2E;     
                width:100%;
                color: #ffffff;
                height: 3rem;
                padding: 10px;
                position: fixed;
                left: 0;
                bottom: 0; 
                display: flex;
                text-align: center;
                justify-content: center;">
  <!-- main copyright information and link to the main root page -->
  <div class="footer-copyright text-center py-3">© 2021 MuseExchange:
    <%= link_to "MuseExchange.com", root_path, method: :get %>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->