<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #2E2E2E;">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2021 MuseExchange:
    <%= link_to "MuseExchange.com", root_path, method: :get %>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->