<div class="jumbotron jumbotron-fluid" style = "background-color: #e0e0e0;" >
  <div class="container">
    <h1 class="display-4" style = "text-align: center;">MuseExchange</h1>
    <p class="lead"></p>
  </div>
</div>

<div class="jumbotron" style = "background-color: #e0e0e0;">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4"></h1>
            <p class="lead"> Welcome to the Museum Loan Network</p>
            <hr class="my-4">
            <p class= "lead">MuseExchange enables institutions connect and to loan out artefacts to other institutions for temporary exhibitions.</p>
            <p class="lead">
                <%= link_to "Enter Now", artefacts_path, method: :get, class: "btn btn-info btn-lg" %>
            </p>
        </div>

        <div class="col-md-6">
            <%= image_tag "girl", class: "home-image" %>
            <p><i>Portrait of a Girl Dressed in Blue, Johannes Cornelisz. Verspronck</i></p>
        </div>
    </div>
</div>
