// Place all the styles related to the Artefacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.artefact-picture {
    width: 90%;
    height: 90%;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}

a:link {
    text-decoration: none;
}

.artefact-picture-index {
    width: 60%;
    height: 60%;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
}