// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.profile-picture {
    width: 90%;
    height: 70%;
}
.profile-artefact-pictures {
    width: 40%;
    height: 40%;
    border: 3px solid #000000;
    margin: 2px;
}
.default-image {
    width: 40%;
    height: 40%;
    border: 3px solid #000000;
    margin: 3px;
}