<h1>Editing Artefact</h1>

<%= render 'form', artefact: @artefact %>

<button class = "btn btn-primary btn-sm", style= "background-color: #00838f;"><%= link_to 'Show', @artefact %></button>
<button class = "btn btn-primary btn-sm", style= "background-color: #00838f;"><%= link_to 'Back', artefacts_path %></button>
