<div class="jumbotron jumbotron-fluid" style = "background-color: #e0e0e0;" >
  <div class="container">
    <h1 class="display-4" style="text-align: center;">New Artefact for the MuseExchange Network</h1>
  </div>
</div>

<%# rendering the form for creating a new artefact %>

<%= render 'form', artefact: @artefact %>

<%# option for user to go back to artefacts index %>

<%= link_to 'Back', artefacts_path, class: "btn btn-info btn-sm" %>
<br><br><br><br>